# Base de datos PostgreSQL (En Railway se inyecta automáticamente cuando agregas PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/ab_os?schema=public"

# Configuración del entorno
NODE_ENV="development"
